@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gloock&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Yeseva One', cursive;
}

.App {
    text-align: center;
}


